{% extends "layout.html" %}
{% load static %}
{% block content %}
		<div class="flex items-center mt-4">
			{% if messages %}
				<div id="message-box" class="fixed top-5 left-1/2 transform -translate-x-1/2 z-50 bg-white shadow-lg rounded-lg p-4 text-center transition-opacity duration-1000 inline-block max-w-full">
					{% for message in messages %}
						<div class="relative flex items-center justify-center space-x-2 {% if message.tags == 'error' %} text-red-500 {% elif message.tags == 'success' %} text-green-500 {% endif %}">
							<div class="text-sm font-medium">{{ message }}</div>
							<svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								{% if message.tags == 'error' %}
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
								{% elif message.tags == 'success' %}
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
								{% endif %}
							</svg>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>

        <!-- Main Content -->
        <div class="flex-grow p-8 gradient-background">
			<div>
				<h2 class="text-2xl font-bold mb-2">Popular Artists</h2>
				<div class="flex space-x-2 overflow-x-auto">
					<!-- Artist Card -->
					<div class="relative group overflow-hidden text-center w-48 flex-shrink-0 p-4 rounded-xl" onclick="window.location.href='{% url 'artist' %}'">
						<img src="{% static 'img/Taylor.png' %}" alt="Taylor Swift" class="w-42
						h-42
						object-cover rounded-full mx-auto">
						
						<div class="absolute inset-0 bg-gradient-to-t from-white to-transparent opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>

						<div class="mt-4 text-left">
							<span class="font-bold text-white block text-sm">Taylor Swift</span>
							<p class="text-gray-400 text-xs">Artist</p>
						</div>
						
						<!-- ปุ่ม Play ที่มุมขวาล่าง -->
						<div class="absolute bottom-16 right-4 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
							<button class="bg-white text-gray-700 text-lg rounded-full w-10 h-10 flex items-center justify-center">▶️</button>
						</div>
					</div>
					
			
					<div class="relative group overflow-hidden text-center w-48 flex-shrink-0 p-4 rounded-xl">
						<img src="{% static 'img/Beyonce.png' %}" alt="Beyoncé" class="w-42
						 h-42
						 object-cover rounded-full mx-auto">
						 <div class="absolute inset-0 bg-gradient-to-t from-white to-transparent opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>

						 <div class="mt-4 text-left">
							<span class="font-bold text-white block text-sm">Beyoncé</span>
							<p class="text-gray-400 text-xs">Artist</p>
						</div>
						<div class="absolute bottom-16 right-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
							<button class="bg-white text-gray-700 text-lg rounded-full w-10 h-10 flex items-center justify-center">▶️</button>
						</div>
					</div>
			
					<div class="relative group overflow-hidden text-center w-48 flex-shrink-0 p-4 rounded-xl">
						<img src="{% static 'img/lisa.webp' %}" alt="Lisa" class="w-42
						 h-42
						 object-cover rounded-full mx-auto">
						 <div class="absolute inset-0 bg-gradient-to-t from-white to-transparent opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>

						 <div class="mt-4 text-left">
							<span class="font-bold text-white block text-sm">LISA</span>
							<p class="text-gray-400 text-xs">Artist</p>
						</div>
						<div class="absolute bottom-16 right-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
							<button class="bg-white text-gray-700 text-lg rounded-full w-10 h-10 flex items-center justify-center">▶️</button>
						</div>
					</div>
			
					<div class="relative group overflow-hidden text-center w-48 flex-shrink-0 p-4 rounded-xl">
						<img src="{% static 'img/Drake.png' %}" alt="Drake" class="w-42
						 h-42
						 object-cover rounded-full mx-auto">
						<div class="absolute inset-0 bg-gradient-to-t from-white to-transparent opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>

						<div class="mt-4 text-left">
							<span class="font-bold text-white block text-sm">Drake</span>
							<p class="text-gray-400 text-xs">Artist</p>
						</div>
						<div class="absolute bottom-16 right-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
							<button class="bg-white text-gray-700 text-lg rounded-full w-10 h-10 flex items-center justify-center">▶️</button>
						</div>
					</div>
			
					<div class="relative group overflow-hidden text-center w-48 flex-shrink-0 p-4 rounded-xl">
						<img src="{% static 'img/Ed.png' %}" alt="Ed Sheeran" class="w-42 h-42 object-cover rounded-full mx-auto">
						<div class="absolute inset-0 bg-gradient-to-t from-white to-transparent opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>

						<div class="mt-4 text-left">
							<span class="font-bold text-white block text-sm">Ed Sheeran</span>
							<p class="text-gray-400 text-xs">Artist</p>
						</div>
						<div class="absolute bottom-16 right-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
							<button class="bg-white text-gray-700 text-lg rounded-full w-10 h-10 flex items-center justify-center">▶️</button>
						</div>
					</div>

					<div class="relative group overflow-hidden text-center w-48 flex-shrink-0 p-4 rounded-xl">
						<img src="{% static 'img/olivia.png' %}" alt="olivia" class="w-42 h-42 object-cover rounded-full mx-auto">
						<div class="absolute inset-0 bg-gradient-to-t from-white to-transparent opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>

						<div class="mt-4 text-left">
							<span class="font-bold text-white block text-sm">Olivia Rodrigo</span>
							<p class="text-gray-400 text-xs">Artist</p>
						</div>
						<div class="absolute bottom-16 right-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
							<button class="bg-white text-gray-700 text-lg rounded-full w-10 h-10 flex items-center justify-center">▶️</button>
						</div>
					</div>
				</div>
			</div>


            <!-- Popular Albums Section -->
            <div class="mt-10">
                <h2 class="text-2xl font-bold mb-4">Popular Albums</h2>
				<div class="flex space-x-2 overflow-x-auto">
                    <!-- Album Card -->
					<div class="relative group overflow-hidden text-center w-48 flex-shrink-0 p-4 rounded-xl">
						<img src="{% static "img/Lalisa.jpg" %}" class="rounded-2xl w-full h-40 object-cover mb-2">

					
						<div class="absolute inset-0 bg-gradient-to-t from-white to-transparent opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>

						<div class="mt-4 text-left">
							<span class="font-bold text-white block text-sm">Rockstart</span>
							<p class="text-gray-400 text-xs">LISA</p>
						</div>
						
						<!-- ปุ่ม Play ที่มุมขวาล่าง -->
						<div class="absolute bottom-28 right-5 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
							<button class="bg-white text-gray-700 text-lg rounded-full w-10 h-10 flex items-center justify-center">▶️</button>
						</div>
					</div>

					<div class="relative group overflow-hidden text-center w-48 flex-shrink-0 p-4 rounded-xl">
						<img src="{% static "img/TTPD.jpg"%}" class="rounded-2xl w-full h-40 object-cover mb-2">
					
						<div class="absolute inset-0 bg-gradient-to-t from-white to-transparent opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>

						<div class="mt-4 text-left">
							<span class="font-bold text-white block text-sm">THE TORTURED POETS DEPARTMENT: THE ANTHOLOGY</span>
							<p class="text-gray-400 text-xs">Taylor Swift</p>
						</div>
						
						<!-- ปุ่ม Play ที่มุมขวาล่าง -->
						<div class="absolute bottom-28 right-5 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
							<button class="bg-white text-gray-700 text-lg rounded-full w-10 h-10 flex items-center justify-center">▶️</button>
						</div>
					</div>
            
					<div class="relative group overflow-hidden text-center w-48 flex-shrink-0 p-4 rounded-xl">
						<img src="{% static "img/Olivia.jpg" %}" class="rounded-2xl w-full h-40 object-cover mb-2">
					
						<div class="absolute inset-0 bg-gradient-to-t from-white to-transparent opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>

						<div class="mt-4 text-left">
							<span class="font-bold text-white block text-sm">GUTS</span>
							<p class="text-gray-400 text-xs">Olivia Rodrigo</p>
						</div>
						
						<!-- ปุ่ม Play ที่มุมขวาล่าง -->
						<div class="absolute bottom-28 right-5 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
							<button class="bg-white text-gray-700 text-lg rounded-full w-10 h-10 flex items-center justify-center">▶️</button>
						</div>
					</div>

					<div class="relative group overflow-hidden text-center w-48 flex-shrink-0 p-4 rounded-xl">
                        <img src="{% static "img/Gracie.jpg" %}" class="rounded-2xl w-full h-40 object-cover mb-2">
					
						<div class="absolute inset-0 bg-gradient-to-t from-white to-transparent opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>

						<div class="mt-4 text-left">
							<span class="font-bold text-white block text-sm">The Secret of Us</span>
							<p class="text-gray-400 text-xs">Gracie Abrams</p>
						</div>
						
						<!-- ปุ่ม Play ที่มุมขวาล่าง -->
						<div class="absolute bottom-28 right-5 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
							<button class="bg-white text-gray-700 text-lg rounded-full w-10 h-10 flex items-center justify-center">▶️</button>
						</div>
					</div>

					<div class="relative group overflow-hidden text-center w-48 flex-shrink-0 p-4 rounded-xl">
                        <img src="{% static "img/short.webp" %}" class="rounded-2xl w-full h-40 object-cover mb-2">
					
						<div class="absolute inset-0 bg-gradient-to-t from-white to-transparent opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>

						<div class="mt-4 text-left">
							<span class="font-bold text-white block text-sm">Short n' Sweet</span>
							<p class="text-gray-400 text-xs">Sabrina Carpenter</p>
						</div>
						
						<!-- ปุ่ม Play ที่มุมขวาล่าง -->
						<div class="absolute bottom-28 right-5 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
							<button class="bg-white text-gray-700 text-lg rounded-full w-10 h-10 flex items-center justify-center">▶️</button>
						</div>
					</div>

					<div class="relative group overflow-hidden text-center w-48 flex-shrink-0 p-4 rounded-xl">
                        <img src="{% static "img/rise.webp" %}" class="rounded-2xl w-full h-40 object-cover mb-2">
					
						<div class="absolute inset-0 bg-gradient-to-t from-white to-transparent opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>

						<div class="mt-4 text-left">
							<span class="font-bold text-white block text-sm">The Rise and Fall of a Midwest Princess</span>
							<p class="text-gray-400 text-xs">Chappell Roan</p>
						</div>
						
						<!-- ปุ่ม Play ที่มุมขวาล่าง -->
						<div class="absolute bottom-28 right-5 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
							<button class="bg-white text-gray-700 text-lg rounded-full w-10 h-10 flex items-center justify-center">▶️</button>
						</div>
					</div>
    
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}